<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Espèce</mat-label>
      <input type="text"
             placeholder="Rechercher par espèce ou code FAO"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>